{% load static %}
<html>
    <head> 
        <meta charset='utf8'>
        <title>OPEN DAY 2023</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #logo {width:350px; float:left;}
            #logo img {width: 90px;; margin-left:30px;}
            #menu {margin-top: 10px;}
            #sessione {margin-left: 40px;margin-top: 80px;}
            #titolo { margin-top:60px;
                     margin-left: 370px; width: 700px; text-align: center}
            #titolo h2 {color:brown;}
        </style>
        {% block head %}
          
        {% endblock %}
    </head>

    <body>
       
        {% block testata %}
        <div class="w3-panel" id="intestazione">
            <div id="logo">
                <h4>ITCG A. Mapelli - A.S. 2023-24</h4>
                <img id="logo" src={% static "pcto/logo.jpeg" %}>
                <div id=sessione>Sessione: {{user}}</div> 
            </div>
            <div id="titolo">
                 <h2>ORIENTA - OPEN DAY 2023</h2> 
            </div>
        </div>

        <div class="w3-bar w3-show-large w3-hide-small w3-light-blue" id="menu">
            
            <a href="{% url 'tutor:index' %}" class="w3-bar-item w3-button ">Home</a>
                       
            <div class="w3-dropdown-hover">
                <button class="w3-button">Autenticazione</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="{%url 'admin:index'%}" class="w3-bar-item w3-button ">Admin</a>

                </div>
            </div>

          </div>

        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
</html>
