{% load static %}
<html>
    <head> 
        <meta charset='utf8'>
        <title>OPEN DAY 2023</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #logo {width:150px; text-align: center}
            #logo img {width: 90px; margin-top: 40px;}
            #logo_ufficiale {width: 320px; }
            #logo_uffciale img {width: 72px; margin-left:190px;}
            #menu {margin-top: 10px;}
            #sessione {margin-top: 0px;}
            #titolo { margin-top:60px;
                     margin-left: 70px; margin-right: 220px; width: 700px; text-align: center}
            #titolo h2 {color:brown;}
            #intestazione {display:flex; justify-content: space-evenly;}
            .nostyle  {text-decoration: none;}
        </style>
        <script>
            function myFunction(id) {
               var x = document.getElementById(id);
               if (x.className.indexOf("w3-show") == -1) {
                   x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>
        {% block head %}
          
        {% endblock %}
    </head>

    <body>
       
        {% block testata %}
        <div class="w3-panel" id="intestazione">
            <div id="logo_ufficiale">
                <img style="margin-left:50px;" src={% static "openday/logo.jpg" %}>
                <h4>ITCG A. Mapelli A.S. 2023-24</h4>
            </div>
           
            <div id="titolo">
                 <h2>ORIENTA - OPEN DAY 2023</h2> 
            </div>
            <div id="logo">
                <img src={% static "pcto/logo.jpeg" %}>
                <div id=sessione>Sessione: {{user}}</div> 
            </div>
        </div>

        <!-- Menu schermi grandi-->
        <div class="w3-bar w3-show-large w3-hide-small w3-light-blue" id="menu">
            
            <a href="{% url 'openday:index' %}" class="w3-bar-item w3-button ">Home</a>
                       
            <div class="w3-dropdown-hover">
                <button class="w3-button">Iscrizioni</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    {% for evento in eventi %}
                    <a href="iscrivi_utente/{{evento.sigla}} " class="nostyle"> 
                        <button class="w3-bar-item w3-button ">{{evento.titolo}} {{evento.data}} </button></a>
                    {%endfor%}
                </div>
            </div>

            {% if user.is_authenticated %}  
            <div class="w3-dropdown-hover">
                <button class="w3-button">Arrivi</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    {% for evento in eventi %}
                    <a href="rileva_presenze/{{evento.sigla}}" class="w3-bar-item w3-button "> 
                        {{evento.titolo}} {{evento.data}}
                    </a> 
                    {%endfor%}
                </div>
            </div>
            {% endif %}

            <div class="w3-dropdown-hover">
                <button class="w3-button">Indirizzi</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    {%for indirizzo in indirizzi %}
                    <a href="indirizzi/{{indirizzo.titolo}}" class="w3-bar-item w3-button ">{{indirizzo.titolo}}</a>
                    {%endfor%}
                </div>
            </div>

            <a href="{% url 'openday:gallery' %}" class="w3-bar-item w3-button ">Gallery</a>

            <div class="w3-dropdown-hover">
                <button class="w3-button">Autenticazione</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="{%url 'admin:index'%}" class="w3-bar-item w3-button ">Admin</a>
                    <a href="{% url 'openday:mioLogin' %}?next=/orienta/openday" class="w3-bar-item w3-button ">Login</a>
                    <a href="{% url 'openday:logout_view' %}" class="w3-bar-item w3-button ">Logout</a>
                    <a href="" class="w3-bar-item w3-button ">Cambio Password</a>
                </div>
            </div>
        </div>

        <!-- Menu schermi piccoli-->
        <button class="w3-button  w3-hide-large w3-hide-medium w3-xlarge" onclick="myFunction('mySidebar')">☰</button>
       
        <div class="w3-sidebar w3-bar-block w3-border-right w3-light-blue" style="display:none" id="mySidebar">
        
            <button onclick="myFunction('mySidebar')" class="w3-bar-item w3-large">Chiudi &times;</button>
            <button class="w3-bar-item w3-button" onClick="myFunction('iscrizioni')">Iscrizioni</button>
            <div class="w3-sidebar" style="display:none" id="iscrizioni">
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    {% for evento in eventi %}
                    <a href="iscrivi_utente/{{evento.sigla}} " class="nostyle"> 
                        <button class="w3-bar-item w3-button ">{{evento.titolo}} {{evento.data}} </button></a>
                    {%endfor%}
                </div>
            </div>

        </div>
        
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
</html>
