{%extends 'openday/base.html'%}
{%load static %}

{% block head %}

<style>

 h2 {text-align: center; color: blue}
.gallery {display: flex}
.imagebox {height:120px; text-align:center; margin-right:10px;}
.imagebox img {height: 100%; }
.youtube {height:48px;}
a {cursor:pointer;}

</style>

{% endblock %}

{% block content %}

<div class="w3-container">

   <h2> Galleria di immagini</h2>

   <div class="gallery">

      {% for imm in immagini %}

      <div class="imagebox">
        
        {%if imm.immagine %}
           <a href="/orienta{{imm.immagine.url}}"> <img src="orienta{{imm.immagine.url}}"> </a>
        {%endif%}
        <br>
        {%if imm.url %}
            <a href="{{imm.url}}"> <img class=youtube src="{% static 'openday/youtube.png' %}"></a><br>
        {%endif%}
        {{imm.titolo}}
     
      </div>

      {% endfor %}

   </div>

</div>

{% endblock %}
