{%extends 'openday/base.html'%}
{%load static %}

{% block head %}

<style>

 h2 {text-align: center; color: blue}
.gallery {display: flex}
.imagebox {height:120px;}
.imagebox img {height: 100%}
a {cursor:pointer;}

</style>

{% endblock %}

{% block content %}

<div class="w3-container">

   <h2> Galleria di immagini</h2>

   <div class="gallery">

      {% for imm in immagini %}

      <div class="imagebox">
        
        {% if imm.url %}
        
            <iframe width="560" height="315" src="{{imm.url}}" frameborder="0" allowfullscreen></iframe>
        
        {%else%}

           <a href="/orienta{{imm.immagine.url}}">   <img src="/orienta{{imm.immagine.url}}"> </a>
           <h4>{{imm.titolo}}</h4>

        {%endif%}

      </div>

      {% endfor %}

   </div>

</div>

{% endblock %}
