{%extends 'openday/base.html'%}
{%load static %}

{% block head %}

<style>

 h2 {text-align: center; color: blue}
.gallery {display: flex}
.imagebox {height:120px; text-align:center; margin-right:10px;}
.immagine {height: 100%; }
a {cursor:pointer;}
.video_logo {width:48px; margin-top: -70px;}

</style>

{% endblock %}

{% block content %}

<div class="w3-container">

   <h2> Galleria di immagini</h2>

   <div class="gallery">

      {% for imm in immagini %}

      <div class="imagebox">
        
        {%if imm.immagine %}
           <a href="/orienta{{imm.immagine.url}}"> <img class=immagine src="/orienta/{{imm.immagine.url}}"> </a>
        {%endif%}
        <br>
        {%if imm.url %}
            <a href="{{imm.url}}"> 
                <!-- 
               <img class=youtube src="{% static 'openday/youtube.png' %}">
               -->
              <br> <img class=video_logo src="{%static 'openday/youtube.png'%}">
            </a><br>
        {%endif%}
        {{imm.titolo}}
     
      </div>

      {% endfor %}

   </div>

</div>

{% endblock %}
