{%extends 'openday/base.html' %}

{%block head %}
<style>
       .intestazione {text-align:center; color:blue}
       
</style>
   
{%endblock %}

{% block content %}

<div class="w3-container" style="text-align:left; width:75%; margin:auto;">
    <img src='/orienta{{pagina.banner.url}}'>
    <h2>{{pagina.titolo}}</h2>
    <div class="testo">
        {{pagina.descrizione|safe}}
    </div>
    <table class="w3-table w3-striped w3-card-4">
        <th></th><th class="intestazione" colspan=2>Primo Biennio</th><th class= "intestazione" colspan="2">Secondo biennio</th><th></th>
        <tr>
        <th style="color:blue">Disciplina</th><th>Prima</th><th>Seconda</th><th>Terza</th><th>Quarta</th><th>Quinta</th>
        {%for riga in righe_orario%}
           <tr>
                <td>{{riga.materia}}</td>
                <td>{{riga.prima|default:''}}</td>
                <td>{{riga.seconda|default:''}}</td>
                <td>{{riga.terza|default:''}}</td>
                <td>{{riga.quarta|default:''}}</td>
                <td>{{riga.quinta|default:''}}</td>
           </tr>
        {%endfor%}
    </table>
    <p>
</div>

{%endblock%}