{%extends 'openday/base.html' %}
{%load static %}

{%block head %}

<style>
      h2 {text-align: center;}
      .checkbox {width:25px;}
      .nome     {width: 550px;}
      th        {text-align:left;}
      .spunta   {width:32px;}
</style> 
 
<script>       
</script>
{%endblock %}

{% block content %}

<h2>Rilevazione Presenze</h2>
<div class="w3-container" style="text-align:left; width:75%; margin:auto;">

    <h4>{{iscritti.0.evento.titolo}} : {{iscritti.0.evento.data}}</h4>

<form id = myForm method="post">
    {% csrf_token %}

    <button type="submit" class="w3-blue">Salva</button>
    <p>
    <table class="w3-table w3-card-4" style="width: 300px;">
        <th ></th><th>Visitatore</th><th>Presenza</th>
        
        {%for v in iscritti %}
            <tr>
                <td> <input type="checkbox" name="{{v.id}}"> </td>
                <td class="nome">{{v.visitatore.cognome}} {{v.visitatore.nome}}</td>
                <td>
                  {%if v.presente%}
                    <img class=spunta src="/orienta/static/openday/spunta.png" alt='presente'>
                  {%endif%}
                </td>
            </tr>
        {%endfor%}
        

    </table>
    
</form>

   
     
</div>

{%endblock%}