{%extends 'tutor/base.html' %}
{%load static %}
{%block head%}

<style>
    h2 {text-align: center; color:blue}
    .icona {cursor: pointer;}
</style>

<script>

    function dettaglio(idprop) {
        url = "dettaglio_proposta/"+idprop;
        document.location = url;
    }

</script>
{%endblock%}


{%block content %}

<h2>Adesioni Proposta Studenti del tutor: {{tutor}}</h2>
    <div class="w3-container" style="width: 60%; margin:auto;">
    <form method="POST" action="/pcto/tutor/salva_iscrizioni">
        {% csrf_token %}
        <input type="submit" value="Iscrivi"> <input type="reset" value="Reset">
        <input type="hidden" name="idproposta" value="{{idproposta}}">
        {%for gruppo in target %}
            <h2>{{gruppo.0}}</h2>
         
            <table class="w3-table-all w3-card-4">
               <th></th>
               <th>Cognome</th>
               <th>Nome</th>
               <th>Classe</th>
               {%for studente in gruppo.1%}
               <tr>
                   <td><input type = checkbox name="{{studente.id}}"></td>
                   <td>  {{studente.cognome}}</td>
                   <td>  {{studente.nome}}</td>
                   <td>  {{studente.classe}}</td>
                
                </tr>
                {%endfor%}
            </table>
           
        {%endfor%}
       
    </form>
    
    </div>
{%endblock%}