{%extends 'tutor/base.html' %}
{%load static %}
{%block head%}

<style>
    h2 {text-align: center; color: blue}
</style>

{%endblock%}


{%block content %}

<h2>Classi</h2>
 
    <div class="w3-container" style="width: 50%; margin:auto;">
        {%for indirizzo in dati %}
            <h3>{{indirizzo.0}}</h3>
            <table class="w3-table-all w3-card-4">
                <th>Classe</th><th>Num. Studenti</th><th>Docenti</th><th>Guarda</th>
                {%for classe in indirizzo.1 %}
                <tr>
                    <td> <a href="elenco_studenti/{{classe.classe}}"> {{classe.classe}}</a></td>
                    <td>  {{classe.num_studenti}}</td>
                    <td>  {{classe.docenti_coinvolti}}</td>
                    <td><img src="{%static 'tutor/gnome-help.png' %}"> </td>
                </tr>
                {%endfor%}
            </table>
        {%endfor%}
    </div>
{%endblock%}