{%extends 'tutor/base.html' %}
{%load static %}

{%block head%}

<style>
    h2 {color: blue; brown; text-align: center}
    .label {font-size: 1em;  font-weight: bold;}
    a {color: blue;}
    .evidenziato {font-size:1.3em;  font-weight: bold; color: blue;}
    .icone {width:32px; cursor: pointer;}
    
</style>

<script>
    var utente = "{{utente|safe}}";           // l'utente connesso
    var idproposta = "{{proposta.id|safe}}";  // l'id della proposta

    function aggiungimi(id) {
        url = "/orienta/tutor/aggiungimi/"+id;
        document.location = url;
    }

    function cancellami(id) {
        url = "/orienta/tutor/cancellami/"+id
        document.location = url;
    }

    function adesione(id) {
        url = "/orienta/tutor/adesioni_proposta/"+id
        document.location= url;
    }

    function cancella_studente(id,tutor) {
        // cnacella lo studente con pk == id dalle adesioni
        url = "/orienta/tutor/ritira/"+id+"/"+idproposta;
        
        if (utente == tutor)
            document.location = url;
        else
           alert('utente non autorizzato alla cancellazione');
    }
    
</script>

{%endblock%}

{%block content%}

<div class="w3-container" style="width: 90%; margin:auto;">
    <h2>Dettaglio Proposta</h2>
    <table style="width: 85%">
        <th style="width:30%"><th></th>
        <tr>
           <td> <span class=label>Nome progetto:</span> </td> <td>{{proposta.nome_progetto}}</td>
        </tr>
        <tr>
           <td> <span class=label>Ente promotore: </span> </td>  <td> {{proposta.ente}}<br>url di riferimento:  <a href={{proposta.url}}>{{proposta.url|default:""}}</a> </td>
        </tr>
        <tr>
            <td><span class=label>Date:</span></td><td><b>Inizio:</b> {{proposta.data_inizio}} - <b>Fine:</b> {{proposta.data_fine}}</td>
        </tr>
        <tr>
            <td><span class=label>Descrizione:</span></td><td>{{proposta.descrizione|linebreaks|default:""}}</td>
        </tr>
        <tr>
            <td>Allegato: </td> <td>{{proposta.allegato|default:''}}</td>
        </tr>
    </table>  
    <hr>
    <img src="{%static 'tutor/cestino.png'%}" class="icone" onClick="cancellami({{proposta.id}})"> 
    <span class=evidenziato>Referenti Interni:</span>
    {%for ref in referenti_interni%}
        {{ref}}  
    {%endfor%}
    <button class="w3-button w3-blue" onClick="aggiungimi({{proposta.id}})"> Aggiungimi </button></button>
   
    <hr>
    <h2>Adesioni</h2>
    <button class="w3.button w3-blue" onClick="adesione({{proposta.id}})">Nuova adesione</button>
    <div class="w3.container">
        <table class="w3-table-all w3-card-4" style="width: 50%; margin:auto">
            <th>Studente</th><th>Classe</th><th>Tutor</th><th>Canc.</th>
            {%for studente in iscritti %}
            <tr>
                <td>{{studente.cognome}} {{studente.nome}}</td>
                <td>{{studente.classe}} </td>
                <td>{{studente.tutor}}</td>
                <td><img class=icone src="{%static 'tutor/cestino.png' %}" onclick="cancella_studente({{studente.id}},'{{studente.tutor.cognome}}')"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{%endblock%}