{%extends 'tutor/base.html' %}
{%load static %}
{%block head%}

<style>
     h2 {text-align: center; color:blue}
    .icona {cursor: pointer;}
</style>

<script>

    function dettaglio(idprop) {
        url = "dettaglio_proposta/"+idprop;
        document.location = url;
    }

</script>

{%endblock%}


{%block content %}

<h2>Elenco Adesioni</h2>
<div class="w3-container" style="width: 50%; margin:auto;">

    <table class="w3-table-all w3-card-4">
    <th> Proposta </th><th>Referenti</th><th>Iscritti</th><th>Mostra</th>

    {% for proposta in selezione %}    

    <tr>
        <td>{{proposta.nome_progetto}}</td>
        {%for ref in proposta.referenti_interni.all%}
        <td>{{ref}}, </td>
        {%endfor%}
        <td>
            {{proposta.iscrizioni.all|length}}
        </td>
        <td>
            <td><img class="icona" src="{%static 'tutor/gnome-help.png' %}" onclick="dettaglio({{prop.id}})"> </td>
        </td>
    </tr>

    {%endfor%}

    </table>

</div>

{%endblock%}