{%extends 'tutor/base.html' %}
{%load static %}
{%block head%}

<style>
    h2 {text-align: center; color:blue}
    .bottoni {margin-left: 25px; margin-top:30px;}
    #scheda_inserimento {display:none;}
</style>

<script>
    function apri() {
        scheda = document.getElementById('scheda_inserimento').style.display = 'Block';
    }
    function annulla(id) {
        document.location = "/tutor/elenco_attivita_tutor/"+id;
    }
</script>

{%endblock%}


{%block content %}
<button class="bottoni w3-blue w3-large" onClick="apri()">Nuovo</button> 

    <div class="w3-container" style="width: 50%; margin:auto;">
     
        <form id="scheda_inserimento" method="POST" action="{% url 'tutor:salva_attivita_tutor' %}">
            {% csrf_token %}
            <input type="hidden" name="tutor" value = "{{tutor.id}}">
            <table class="w3-card-4">
             {{form.as_table}}
            </table>
            <input type="submit" value="Salva">
            <input type="button" value="Annulla" onClick="annulla({{tutor.id}})">
        </form>

        <h2>Elenco Attività Tutor: {{tutor}}</h2>
        <table class="w3-table-all w3-card-4">
            <th>Data</th>
            <th>Titolo</th>
            <th>Tipologia</th>
            <th>Target</th>
            <th>Durata</th>
            <th>Modifica</th>
            {%for attivita in elenco%}
            <tr>
                <td>  {{attivita.data}}</td>
                <td>  {{attivita.titolo}}</td>
                <td>  {{attivita.tipologia}}</td>
                <td>  {{attivita.target}}</td>
                <td>  {{attivita.durata}}</td>
                <td><a href="{%url 'tutor:dettaglio_attivita_tutor' attivita.id %}"><img src="{%static 'tutor/gnome-help.png' %}"></a> </td>
            </tr>
            {%endfor%}
        </table>
    </div>
{%endblock%}