<html>
    <head>
        <script>
            function procedi() {
                risp = confirm("Aggiorni i tutor degli studenti mostrati ?");
                if (risp) {
                   url = "pcto/tutor/completa_tutor=?vai=ok";
                   document.location = url;
                }
            }
        </script>
    </head>
    <body>
    
        {%for tutor,studenti in assegnamenti.items %}
            <h3>{{tutor}}</h3> 
            {%for studente in studenti %}
                {{forloop.counter}} {{studente}} <br>
            {%endfor%} 
        {%endfor%}
        <p>
        Associa gli studenti ai rispettivi Tutor <button onClick="procedi()">Procedi</button> 

    </body>
</html>