<form method="post" action="{% url 'tutor:autentica' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <table>
        <tr>
            <td>Utente:</td>
            <td><input type="text" name="utente"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2" id="invio">
                <input type="submit" value="Invia">
                <input type="reset" value="Reset">
            </td>
        </tr>
    </table>
    <div id="msg">{{ msg }}</div>
</form>
