{%extends 'tutor/base.html' %}
{%load static %}
{%block head%}

<style>
    h2 {text-align: center; color:blue}
    .icona {cursor: pointer;}
    
</style>

<script>

    function dettaglio(idprop) {
        url = "dettaglio_proposta/"+idprop;
        document.location = url;
    }

</script>
{%endblock%}


{%block content %}

<h2>Elenco Proposte</h2>
    <div class="w3-container" style="width: 90%; margin:auto;">
        <form method="GET">
            {{myfilter.form}} 
            <input type="submit" value="Cerca">
        </form>
        <table class="w3-table-all w3-card-4">
            <th>Nome Progetto</th>
            <th>Ente</th>
            <th>Data Inizio</th>
            <th>Data Fine</th>
            <th>Mostra</th>
            {%for prop in proposte %}
            <tr>
                <td>  {{prop.nome_progetto}}</td>
                <td>  {{prop.ente}}</td>
                <td>  {{prop.data_inizio|default:''}}</td>
                <td>  {{prop.data_fine|default:''}}</td>
                <td><img class="icona" src="{%static 'tutor/gnome-help.png' %}" onclick="dettaglio({{prop.id}})"> </td>
            </tr>
            {%endfor%}
        </table>
    </div>
{%endblock%}