{%extends 'tutor/base.html' %}
{%load static %}
{%block head%}

<style>
    h2 {text-align: center; color:blue}
</style>

{%endblock%}


{%block content %}

<h2>Elenco Tutor</h2>
    <div class="w3-container" style="width: 50%; margin:auto;">
        <table class="w3-table-all w3-card-4">
            <th>Cognome</th>
            <th>Nome</th>
            <th>Guarda</th>
            {%for tut in tutor%}
            <tr>
                <td>  {{tut.cognome}}</td>
                <td>  {{tut.nome}}</td>
                <td><a href="#"><img src="{%static 'tutor/gnome-help.png' %}"> </a> </td>
            </tr>
            {%endfor%}
        </table>
    </div>
{%endblock%}