{% extends "base.html" %}

{% block head %}
<style>
   
    #container {width: 80%; margin:auto}
    .data {width: 12%;}
    .tutor {width: 15%;}
    .disp  {width: 5%;}
    .da    {width: 10%;}
    .a     {width: 10%;}
    .azienda {width: 20%;}
    
</style>
{% endblock %}

{% block content %}
<div class="w3.container w3-pale-blue" >
    <h1 class="w3-text-black">Distribuzione di {{azienda}}</h1>
<table class="w3-table-all w3-card-4" style="width:30%; margin: auto;">
    <th>Anno</th><th>Num.Abbinamenti</th>

    {%for d in dist %} 
        <tr>
            <td class="data"> {{d.anno}}  </td>
            <td class="tutor"> {{d.anno__count}} </td>    
        </tr>
    {% endfor %}

</table> 

</div>


{% endblock %}