{% load static %}
<html>
    <head> 
        <meta charset='utf8'>
        <title>OFFICINA PCTO</title>
        <link rel="stylesheet" type="text/css" href={% static 'pcto/index.css' %}>
        <link rel="stylesheet" type="text/css" href={% static 'pcto/menu.css' %}>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        {% block head %}
          
        {% endblock %}
    </head>

    <body>
        {% block testata %}
        <img id="logo1" src={% static "pcto/mape.png"  %}>
        <img id="logo2" src={% static "pcto/logo.jpeg" %}>
               
        <header class="robo">
          <h1 class="titolo">OFFICINA PCTO</h1>
            <ul>
                <li>PCTO
                    <ul>
                       <li><a href="{% url 'pcto:index' %}">Home</a></li>
                       <li><a href="{% url 'pcto:statistica' %}">Statistiche</a></li>
                       <li><a href="{% url 'pcto:upload' %}">Aggiornamento Archivi</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'pcto:aziende' %}" class="aziende">AZIENDE</a></li>
                <li><a href="{% url 'pcto:tutor' %}" class="tutor">TUTOR</a></li>
                <li>STUDENTI
                    <ul>
                        <li><a href="{% url 'pcto:studenti' 'AF' %} ">Affari e Finanza</a></li>
                        <li><a href="{% url 'pcto:studenti' 'SI' %} ">Sistemi Informativi</a></li>
                        <li><a href="{% url 'pcto:studenti' 'LS' %} ">Liceo Scienze Applicate</a></li>
                        <li><a href="{% url 'pcto:studenti' 'SP' %} ">Liceo Sportivo</a></li>
                        <li><a href="{% url 'pcto:studenti' 'AG' %} ">Agro Alimentare</a></li>
                        <li><a href="{% url 'pcto:studenti' 'TU' %} ">Turismo</a></li>
                        <li><a href="{% url 'pcto:studenti' 'CA' %} ">Ambiente e Territorio</a></li>

                    </ul>
                </li>
                <li><a href="{% url 'pcto:contatti' %}">CONTATTI</a></li>
                <li><a href="{%url 'pcto:elenco_abbinamenti' %}">ABBINAMENTI</a></li>
                <li>AUTENTICAZIONE 
                    <ul>
                        <li><a href="/pcto/admin" class="tutor"> LOG-IN</a></li>
                        <li><a href="/pcto/admin/logout" class="tutor"> LOG-OUT</a></li>
                    </ul>
                </li>

            </ul>
             
        </header>
        <span id=sessione style="margin-left: 40px">Sessione {{user}}</span>
        <span id=stampa><a href="javascript:window.print()">Print Page</a></span>
        <hr/>
        {% endblock %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>
