{%extends 'base.html' %}

{%block head%}
        <style>
            .dati {text-align: center; margin-top: 30px;}
            b {color:brown;}
            #settore {text-align:center; margin-top: -20px; }
            #container { margin:auto; background: pink}
            .commento { margin-top: 5px; margin-right: 10px;
                        width: 600px; height: 150px;
                        text-align: left; padding: 10px;}
            #lista_contatti {width: 100%; background: pink;}
            .contatto {float: left; margin-left: 100px;}
            h3 {color: blue;}
            table {width: 50%; margin-bottom: 5px;
                   margin-left: 100px;
                   margin-bottom: 50px;
                  }
            th  {background: #C90;}
            textarea {margin-bottom: 10px;}
        </style>   
        
        <script>

            function email(recipient) {
                 
                if (recipient == "")
                    return;
                var testo = "Gentile Collega,\n\n";
                 testo +=  "ho il piacere di condividere il contatto riguardante il pcto ";
                 testo +=  "che spero ti sara' utile\n";
                 testo +=  "In allegato troverai la pagina con le informazioni rilevanti \n\n";
                 testo +=  "Ti saluto cordialmente\n\n";
                 testo +=  "prof.ssa Stefania Agresta - figura strumentale PCTO ";    
                 var subj = escape("Informazione PCTO");
                 document.location= "mailto:"+recipient+"?subject="+subj+"&body="+escape(testo);
                 return;
            } 
          
        </script>

        </style>
{% endblock %}

{% block content %}

    <h2> {{azienda.ragione_sociale}} </h2>
    <div id=settore>
       {{azienda.settore}}
    </div>
    <div class="dati">
          
           <b>Telefono:</b> {{azienda.telefono}} <b>Email:</b> {{azienda.email}} <br>
           <b>Comune:</b> {{azienda.sede_comune}} <b>Prov. :</b> {{azienda.sede_provincia}}
    </div>
    
   
    <a href="/admin/pcto/aziende/{{azienda.id}}">Admin</a>
    <h3>Contatti</h3>
    <hr>
       
        {% for con in contatti %}
                <div class="contatto">
                    {{con.data}} {{con.tutor}} <p>
                    <b>Posti disponibili:</b> {{con.num_studenti}} - <b>Periodo Da</b>: {{con.periodo_da}} <b>A:</b> {{con.periodo_a}}<p>  
                    <textarea class="commento">{{con.note}}</textarea> <br>
                    <input type="button" value="Save" onClick="alert('Lavori in corso\nWork in progress')">  
                    <input type="button" value="Print to PDF" onClick="window.print()">   
                    <input type="button" value="Mail To" onClick=email("{{con.tutor.email}}")>             
                </div>
        {% endfor %}
    <br clear="all">
    <h3>Abbinamenti</h3>
    <b>Posti ancora disponibili: </b>{{posti}}
    <hr>
        <table>
            <th>Studente</th><th>Da</th><th>A</th>
        {% for abb in abbinamenti %}
            <tr>
            <td>{{abb.studente}} <td> {{abb.periodo_da}} <td> {{abb.periodo_a}} 
            
        {% endfor %}
        </table>

{% endblock%}