{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="paragrafo"> 
        <h2 style="font-weight:bold;">P.C.T.O.</h2> 
        <p> 
            Acronimo di <b>Percorsi per le Competenze Trasversali e l'Orientamento </b> descrive tutte 
            le attività e i processi inerenti, alle iniziative che in passato ricadevano sotto la 
            denominazione <i>"Alternanza Scuola Lavoro"</i>
        </p>      
    </div>
   
   <img id="imm1" src={% static "OffPcto/immagine.jpeg" %}>
   
   <div id=descrizione>
    <p>Il cambiamento di nome ha voluto indicare un cambiamento di prospettiva, rispetto agli obiettivi 
       originari. <br/>
       Ricadono infatti, sotto la nuova denominazione, non esclusivamente gli scambi studenti-aziende, ma 
       tutte quelle iniziative volte 
       ad avvicinare le esperienze <br/>degli studenti, alle esigenze di formazione trasversale e 
       orientamento alle necessità della vita sociale e lavorativa.</p>    
    <p>L’attività è coordinata da una serie di Tutor, scelti fra i docenti delle diverse classi. 
    <p>
      Si aggiunge per l’espletamento delle pratiche necessarie all’attività un distaccamento di un
      docente nel ruolo <br/>di assistenza alla figura strumentale.<br/>
      <br/ clear=all> Le attività di PCTO sono regolamentata da normative ministeriali, 
      che coinvolgono le classi del triennio di tutti gli indirizzi e che fissano il monte ore 
      minimo che ciascun studente dovrà soddisfare, diversificato per indirizzi.
    </p>
      
 
    </div>
  	<hr/>
        <div id=credits>Credits: A.S.2021-22 Classe: 4BSI Sistemi Informativi Aziendali</div>
{% endblock %}