{% extends "base.html" %}

{% block head %}
   <style>
         #container {width:80%; margin: auto}
         .classe {width: 50%; margin:auto;}
         table {width: 100%; margin: auto;}
         th  {background: #C90;}
         td  {padding-left: 15; background: lavender;}
         h3  {color: #C00}

   </style>
{% endblock %}

{% block content %}
<div id="container">
<h2>Studenti del corso {{corso}}</h2>

{% for rep in report%}
      <div class="classe">
      <h3> {{rep.0}}</h3>
      <table>
          <th>Num.</th><th>Cognome</th> <th>Nome</th>
      {% for stud in rep.1%}
         <tr>
         <td>{{forloop.counter }}</td><td>{{stud.cognome}} <td> {{stud.nome}}
      {% endfor %}
    </table>
    </div>
{% endfor %}
</div>
{% endblock %}